Options -Indexes

<FilesMatch "\.(jar|war|properties|yml|xml|log|git|env|sh)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# PROXY REVERSO
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ http://127.0.0.1:9090/$1 [P,L]
</IfModule>